<div class="hero">
  <div class="hero-content">
    <div class="text-right">
      <span class="hero-date">{{selectedDate | date : 'shortDate'}}</span>
    </div>
    <div class="hero-title">
      <div class="calendar-container">
        <p-calendar [(ngModel)]="selectedDate" [touchUI]="true" [iconDisplay]="'input'" [showIcon]="true"
          [readonlyInput]="true" [showOnFocus]="false" inputId="buttondisplay" (ngModelChange)="updateDataByDay()" />
      </div>
      <div class="ml-4">
        LEADERBOARD
      </div>
    </div>
  </div>
</div>
@for(score of scores; track score; let i = $index) {
<div class="grid scorecard">
  <div class="col-2">
    <div class="text-center font-bold p-2">
      <span class="rank">{{i + 1}}</span>
    </div>
  </div>
  <div class="col-8">
    <div class="font-bold p-2">{{score.nickname}}</div>
  </div>
  <div class="col-2">
    <div class="text-right font-bold p-2">{{score.strokes}}</div>
  </div>
</div>
}